@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
.primary-colour{
  color: #3d84b8;
}
.text-center{
  text-align: center;
}
/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    top:0;
    background: rgb(255, 255, 255);
    color: #000;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
    border-bottom: 2px solid #3d84b8;
  }

  #navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  #navbar ul li a {
    color: #333;
    padding: 0.75rem;
    margin: 0 0.25rem;
    cursor: pointer;
  }
  
  #navbar ul li a:hover {
    background: #3d84b8;
    border-radius: 5px;
  }
  
  /* Showcase  */
  #showcase{
    background: url('images/showcase.jpg') no-repeat center center/cover;
    height: 90vh;
    color: #fff;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}

#showcase .showcase-content{
  position: absolute;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0 5px 15px #000408; 
  top: 20%;
  right: 10%;
}
#showcase .showcase-content h2{
  color: #000000;
}
#showcase .showcase-content p{
  color: #000000;
  padding-top: 10px;
  padding-bottom: 25px;
}
#showcase .showcase-content a{
  color: rgb(255, 255, 255);
  padding: 0.75rem;
  margin: 0 0.25rem;
  cursor: pointer;
  background: #3d84b8;
  border-radius: 5px;
}

/* Showcase1  */
#showcase1
{
  background: url('images/showcase1.jpg') no-repeat center center/cover;
  height: 90vh;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}
#showcase1 .showcase1-content
{
position: absolute;
max-width: 600px;
padding: 50px;
box-shadow: 0 5px 15px #000000; 
top: 20%;
right: 10%;
}
#showcase1 .showcase1-content h2
{
color: #f30000;
}
#showcase1 .showcase1-content p
{
color: #030000;
padding-top: 10px;
padding-bottom: 25px;
}
#showcase1 .showcase1-content a
{
color: rgb(255, 255, 255);
padding: 0.75rem;
margin: 0 0.25rem;
cursor: pointer;
background: #3282bb;
border-radius: 5px;
}

 
/* About Us Section */
#aboutus{
  margin: 20px 10%;
  line-height: 1.9;
  font-size: large;
}
#aboutus img{
  float: right;
  margin-left: 10px;
}



/* Contact Us Section */
#contact-us{
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  background-color: #fcfcfc;
  padding-bottom: 50px;
  margin-top: 40px;
  box-shadow: 0 5px 15px #6969c9;
  
}
.contact-us-item{
  flex-basis: 50%;
  padding: 10px;
}
#contact-us .contact-us-item label{
  display: block;
}
#contact-us .contact-us-item input,
#contact-us .contact-us-item textarea{
  width: 100%;
  padding: 0.5rem;
}
#contact-us .contact-us-item input[type="submit"]{
  color: #fff;
  background-color: #333;
  cursor: pointer;
}

/* Footer */
#footer{
  padding: 15px;
  background: #333;
  color: #fff;
}
.social-icons{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
}
#footer .social-icons .fab{
  width: 45px;
  height: 45px;
  padding: 5px;
  background-color: #3d84b8;
}

/* Respnsive Navbar */
@media screen and (max-width:700px){
  #navbar{
    display: block;
    text-align: center;
  }
  #navbar ul{
    text-align: center;
    justify-content: center;
  }
  #navbar ul li a {
    color: #333;
    padding: 0.75rem;
    margin: 0 0.25rem;
    cursor: pointer;
  }
  
  #navbar ul li a:hover {
    color: #3d84b8;
    background-color: #fff;
  }
}

/* Responsive Showcase */
@media screen and (max-width:750px) {
  #showcase .showcase-content{
    position: absolute;
    max-width: 600px;
    padding: 50px;
    box-shadow: none; 
    top: auto;
    right: auto;
  }
}

/* Responsive Our Work Section */
@media screen and (max-width:700px) {
  .our-work-item{
    flex-basis: 100%;
  }
}

/* Responsive Contact-Us Section */
@media screen and (max-width:600px) {
  .contact-us-item{
    flex-basis: 100%;
  }
}